@import "common";
@import "header";

.main-visual {
  padding-top: 33px;
  padding-bottom: 22px;
  background: #EDECFC;

  .container {
   max-width: 1187px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.text-box {
  max-width: 656px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: (86.88 / 60);
  }
 
}

.top-text {
  font-size: 18px;
  margin-top: 24px;
  line-height: (32.4 / 18);
}

.btn-flex {
  margin-top: 33px;
  display: flex;
}

.main-left-btn {
  @include common-btn($width: 250px, $height: 54px);
  border-radius: 27px;

  a {
    font-size: 18px;
    line-height: 54px;
  display: inline-block;
  width: 100%;
  }
}

.main-right-btn {
  border: 2px solid #64629D;
  margin-left: 37px;
  @include common-btn($bgcolor: #fff,$color: #64629d,$width: 250px, $height: 54px);
  border-radius: 27px;

  a {
    font-size: 18px;
    line-height: 54px;
  display: inline-block;
  width: 100%;
  }
}

.main-image {
  width: 515px;
  height: 515px;
  margin-left: 16px;
}

/*===================================================
# タスク管理
=================================================== */

.task {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F9F9F9;


  .container {
    width: 1187px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.util-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-align: center;
  padding-top: 54px;

  &::before {
    content: 'What is Ravek?';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    line-height: 1;
    color: #9F9EC1;
  }
}

.task-text {
  margin-top: 29px;
text-align: center;
font-size: 18px;
line-height: (32.4 / 18);
}

.ravek-btn {
margin: 40px auto 0;
@include common-btn($width: 400px, $height: 70px);
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
border-radius: 50px;
a {
  font-size: 24px;
  line-height: 70px;
  display: inline-block;
  width: 100%;
}
}

/*===================================================
# Ravekの3つの特徴
=================================================== */

.features {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F9F9F9;

  .container {
    max-width: 1167px;
    margin: 0 auto;
  }
}

.util-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  text-align: center;
  padding-top: 54px;

  &::before {
    content: 'Feature';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    line-height: 1;
    color: #9F9EC1;
  }
}

.task-flex {
  display: flex;
  align-items: flex-end;
  position: relative;

  &:first-of-type {
    margin-top: 102px;
  }

  .task-box {
    flex: 0 1 742px;
    padding: 65px 124px 64px 40px;
    background: #fff;
    border-radius: 30px;
  }

  &.reverse-flow {
    align-items: flex-start;
    margin-top: 153px;
    flex-flow: row-reverse;

    .task-box {
      flex: 0 1 742px;
      padding: 65px 19px 65px 40px;
      background: #fff;
      border-radius: 30px;
    }
  }
}



.task-h2, .task2-h2, .task3-h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: (52.13 / 36);
  position: relative;
  padding-left: 108px;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '01';
    font-size: 72px;
    font-weight: 700;
    color: #64629D;
  }
}

.task2-h2 {
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '02';
    font-size: 72px;
    font-weight: 700;
    color: #64629D;
  }
}

.task3-h2 {
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '03';
    font-size: 72px;
    font-weight: 700;
    color: #64629D;
  }
}

.description {
  margin-top: 17px;
  font-size: 16px;
  padding-left: 108px;
  line-height: (28.8 / 16);

  .reverse-flow & {
    padding-right: 110px;
  }
}

.task-image, .task-image3 {
  max-width: 520px;
  position: absolute;
  right: 0;
}

.reverse-flow {

.task-image {
  position: absolute;
  left: 0;
  top: 25px;
}
}

.task-flex.task-last {
  margin-top: 263px;
}

/*===================================================
# 14日間の無料トライアル可能。
Ravekで快適なタスク管理を体験しよう
=================================================== */

.trial-area {
  background: #2D2D32;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  .container {
    max-width: 1187px;
    margin: 0 auto;
  }
}

.trial-text {
  color: #fff;
  font-size: 36px;
  line-height: (52 / 36);
}

.trial-btn {
  @include common-btn($width: 400px, $height: 70px);
  margin: 32px auto 0;
  border-radius: 50px;
  font-size: 24px;

  a {
    line-height: 70px;
  }
}

/*===================================================
# 導入実績
=================================================== */

.performance {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    max-width: 972px;
    margin: 0 auto;
  }

  .util-title {
    font-size: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    color: $base-color;
    padding-top: 54px;

    &::before {
      content: 'Users';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 36px;
      line-height: 1;
      color: #9F9EC1;
    }
  }
}

.works-flex {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.work-image {
  max-width: 213px;

  & + & {
    margin-left: 40px;
  }

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:nth-of-type(n+5) {
    margin-top: 50px;
  }
}

.work-wrap {
  width: 100%;
  height: 100%;
}

/*===================================================
# 導入までの流れ
=================================================== */

.flow-area {
  background:#F9F9F9;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    max-width: 1070px;
    margin: 0 auto;
  }

  .util-title {
    font-size: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    color: $base-color;
    padding-top: 54px;

    &::before {
      content: 'Flow';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 36px;
      line-height: 1;
      color: #9F9EC1;
    }
  }
}

.flow-flex {
  display: flex;
  margin-top: 55px;

  @include mq("sp") {
    margin-top: 30px;
  }
}

.flow-box {
  width: calc(33.33333333% - 115px * 2 / 3);
  position: relative;
  
  & + & {
    margin-left: 115px;
  }

  &::before {
    position: absolute;
    top: -15px;
    left: -15px;
    content: '01';
    font-size: 48px;
    line-height: 1;
    color: $base-color;
    font-weight: 700;
    z-index: 10;
  }

  &.box2 {

    &::before {
      position: absolute;
    top: -15px;
    left: -15px;
    content: '02';
    font-size: 48px;
    line-height: 1;
    color: $base-color;
    font-weight: 700;
    z-index: 10;
    }
    
  }

  &.box3 {

    &::before {
      position: absolute;
    top: -15px;
    left: -15px;
    content: '03';
    font-size: 48px;
    line-height: 1;
    color: $base-color;
    font-weight: 700;
    z-index: 10;
    }
    
  }

  h3 {
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    line-height: (34.75 / 24);
  }

  p {
    margin-top: 8px;
    line-height: (28.8 / 16);
  }
}

.flow-image {
  background-color: #EDECFC;
  border-radius: 30px;
  height: 191px;
  position: relative;
}

.flow-contents {
  width: 100%;
  height: inherit;
  background: url(../img/01img.png) no-repeat center;
  background-size: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flow-contents2 {
  width: 100%;
  height: inherit;
  background: url(../img/02img.png) no-repeat center;
  background-size: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.flow-contents3 {
  width: 100%;
  height: inherit;
  background: url(../img/03img.png) no-repeat center;
  background-size: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*===================================================
# 料金プラン
=================================================== */

.price-area {
  padding-top: 100px;
  padding-bottom: 115px;

  .container {
    max-width: 1020px;
    margin: 0 auto;
  }

  .util-title {
    font-size: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    color: $base-color;
    padding-top: 54px;

    &::before {
      content: 'Price';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 36px;
      line-height: 1;
      color: #9F9EC1;
    }
  }
}

.price-flex {
  margin-top: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.light-box, .basic-box, .premium-box {
  width: 260px;
}

.light-box {
  padding-top: 47px;
  padding-bottom: 41px;
  background: #2D2D32;
  color: #fff;
  text-align: center;
  height: 270px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: (34.75 / 24);
    color: #fff;
  }

  h3 {
    font-size: 24px;
    color: #fff;
    span {
      font-size: 42px;
    }
  }
}

.basic-box {
  padding-top: 58px;
  padding-bottom: 41px;
  background: $base-color;
  color: #fff;
  text-align: center;
  height: 286px;

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: (40.54 / 28);
    color: #fff;
  }

  h3 {
    font-size: 24px;
    color: #fff;
    span {
      font-size: 42px;
    }
  }

  
}

.premium-box {
  padding-top: 47px;
  padding-bottom: 41px;
  background: #2D2D32;
  color: #fff;
  text-align: center;
  height: 270px;

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: (34.75 / 24);
    color: #fff;
  }

  h3 {
    font-size: 24px;
    color: #fff;
    span {
      font-size: 42px;
    }
  }
}

.price-btn {
  margin: 28px auto 0;
  @include common-btn($bgcolor: #fff, $width: 234px, $height: 50px);
  border-radius: 50px;

  a {
    color: $font-base-color;
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;

    .basic-box & {
      color: #fff;
    }
  }

  .basic-box & {
    border: 1px solid #fff;
    background: $base-color;
    
  }
}

.course-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}

.course-box, .course-box1, .course-box3, .course-box5, .course-box7 {
  width: 25%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-box1, .course-box3, .course-box5, .course-box7 {
  background: $bg-color;
}



